<h1>Resizing Images For Website</h1>

<h4>Different Size and Compression results</h4>

<h1>Small</h1>
<img
  src="image resize project/resize hardware-min.jpg"
  alt="small"
  width="297"
  height="208"
/>
<p>Original Size in pixels - 640x448 down to 297x208</p>
<p>Original: 89 KB to Compressed: 20 KB (-78%)</p>

<h1>Medium</h1>
<img
  src="image resize project/motherboard resize-min.jpg"
  alt="medium"
  width="1000"
  height="500"
/>
<p>Original Size in pixels - 3984x2656 down to 1000x800</p>
<p>Original: 3.1 MB to Compressed: 455 KB (-86%)</p>

<h1>Biggest</h1>
<img
  src="image resize project/ramm resize-min.jpg"
  alt="biggest"
  width="2000"
  height="2407"
/>
<p>Original Size in pixels - 1500x820 up to 2000x2407</p>
<p>Original: 3.5 MB to Compressed: 427 KB (-88%)</p>
